body{
  background-color: black;
  color: white;
}
.main {
  width: calc(100%-8ch);
  height: 100%;
  margin: 2ch;
  background-color: rgba(255,255,255,.3);
  border-radius: 4ch;
  box-sizing: border-box;
  padding:1ch;
  text-align: center;
}

#modlist{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding:2ch;
}
#modlist>*{
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 2ch;
  padding:.5ch;
  text-align: center;
}